.CarouselImage{
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 1;
}

.Carousel{
  width: 95%;
  margin: 10px;
}

.title{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.CarouselCaption{
  color: white;
  font-size: 52px;
}