.footer{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  margin-top: .5rem;
  margin-bottom: .5rem;
  height: 550px;
  width: 100%;
  height: 7rem;
  background: tan;
}
.ft-item{
  text-align: left;
}
.contactContainer{
  align-self: center;
}
.logoFooter{
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
}
.CaptainFinnContainer{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  /* margin-bottom:1rem; */
}
.CaptainFinn{
  align-self: flex-end;
  margin-bottom: -.1rem;
}

@media only screen and (max-width:605px){
  .footer{
    height: 20rem;
  }
  img{
    height: 4.5rem;
  }
  .CaptainFinnContainer{
    display: flex;
    flex-direction: row;
  }  
}