html {
  font-family: sans-serif;
}
body{ 
  background-image: url('../assets/close-up-door-focus-101808.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 200%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
  background-color: limegreen;
  list-style: none;
  height: 75px;
}
img {
  width: 42px;
  /* margin-top: 0.1rem; */
}
a{
  color: blue;
  text-decoration: none;
}
a:hover {
  color: darkblue;
  text-decoration: none;
}
a:visited{
  color: blue;
  text-decoration: none;
}
.layoutBody{
  background-color: gainsboro;
  padding: .5rem;
  margin-top: .5rem;
  opacity: .75;
  min-height: 85vh;
}
img{
  height: 7rem;
  width: 7rem;
  margin: 1rem 1rem 0rem 1rem;
}
ul {
  list-style: none;
  float: right;
  display: flex;
  flex-direction: column;
}
/* Link{
  display: flex;
  flex-direction: column;
} */
