html {
  font-family: sans-serif;
}
body {

}
header{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
  background-color: limegreen;
  list-style: none;
  height: 50px;
}
img {
  width: 42px;
  margin-top: 0.1rem;
}
a{
  color: azure;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: none;
}
a:visited{
  color: greenyellow;
  text-decoration: none;
}