html {
  font-family: sans-serif;
}
body{ 
  background-image: url('../assets/close-up-door-focus-101808.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  background-size: 200%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layoutBody{
  min-height: 65vh;
  background-color: tan;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: hsla(38, 61%, 83%, .75);
}