*{
  box-sizing: border-box;
}
.SaltyFooter{
  padding: .5rem;
  background-color: black;
  margin-top: .5rem;
  margin-bottom: .25rem;
  display: flex;
  flex-direction: row;
  justify-items: start;
  color: white;
}
.logo{
  border: .25rem solid gray;
  margin: .25rem;
  height: 10rem;
  width: 10rem;
}
.SaltyInfo{
  padding: 1em;
  margin: .25rem;
  border: 1px solid green;
  flex-basis: 800%;
}
.SaltyFooterLinks{
  margin: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding-left: 1em;
  width: 100%;
}